.header {
    background-color: rgb(186, 209, 101);
    padding: 10px 20px 0 20px;
}

a:hover {
    color: white;
    transition: .5s ease;
}

.logo {
    pointer-events: visibleStroke;
}

.header__menu {
    display: inline-block;
    padding: 20px;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}
.images {
    display: inline-block;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
    opacity: .7;
    margin: auto;
}

.images:first-of-type {
    pointer-events: none;
}

.images:hover {
    opacity: 1;
}

p {
    padding: 20px;
    text-indent: 50px;
    word-wrap: break-word;
}

p::first-letter {
    color: brown;
    font-weight: 800;
    font-size: 1.5em;
}

p::first-line {
    font-style: italic;
}

p::selection {
    background-color: rgb(186, 209, 101);
    color: white;
}

li:nth-child(2n) {
    color:rgb(186, 209, 101)
}

a:active {
    color: black;
}

a:focus {
    color: red;
}

.aside-bottom {
    width: 50%;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
}

.aside-bottom__heading {
    visibility: hidden;
}

.footer {
    height: 50px;
    background-color: rgb(52, 52, 63);
    color: whitesmoke;
    text-align: center;
}