@import './reset.css';

$pink: #F0145A;
$white: #fff;
$blue: #323264;
$lightblue: #24A3FF;

#wrapper {
    position: relative;
    overflow-x: hidden;
}

body {

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: (22/16);
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 1024px) {
        padding: 0;
    }
}

.main-bg {
    background: linear-gradient(228.57deg, $blue 11.93%, $blue 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 40px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
        height: 10px;
        background: #cacadb;
        border-radius: 0 0 12px 12px;
        -webkit-border-radius: 0 0 12px 12px;
        -moz-border-radius: 0 0 12px 12px;
        -ms-border-radius: 0 0 12px 12px;
        -o-border-radius: 0 0 12px 12px;
    }

    &:after {
        background: #e7e7f2;
        bottom: -20px;
        left: 40px;
        right: 40px;
    }
}

.header {
    font-weight: 700;
    padding-top: 20px;
    color: $white;

    @media (min-width: 1024px) {
        padding-top: 50px;
    } 

    &__logo {
        width: 77px;
        margin-right: 20px;

        @media (min-width: 1024px) {
            width: 155px;
        } 
    }

    &__content {
        
        @media (min-width: 1024px) {
            padding-top: 3px;
            width: calc(100% - 175px);
        } 
    }

    &__burger {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 20px;
        display: inline-block;
        vertical-align: middle;
        top: 65%;

        &:hover {
            span {
                border-color: $pink;
            }
        }

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            transition: border-color .3s ease;
            will-change: border-color;
            display: block;
            border-bottom: 2px solid $white;
            margin-bottom: 5px;
            -webkit-transition: border-color .3s ease;
            -moz-transition: border-color .3s ease;
            -ms-transition: border-color .3s ease;
            -o-transition: border-color .3s ease;
}
    }

    &__information {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 16px;
        justify-content: space-between;

        @media (min-width: 1024px) {
            justify-content: flex-end;
        }

        address {
            font-style: normal;
            font-weight: 400;
        }

        li {
            margin-left: 0;

            @media (min-width: 1024px) {
                margin-left: 10px;
            }

            &:nth-child(2),
            &:last-child {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                    
                }
            }

            > ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin-right: 10px;
                    &:nth-child(2),
                    &:last-child {
                    display: block;
                    }

                    @media (min-width: 1024px) {
                        margin-right: 0;
                    }
                }
    
                a {
                    font-size: 12px;
                    line-height: (14/12);
                    text-transform: uppercase;
                    position: relative;
                    z-index: 9;
    
                    &::before {
                        transition: background .3s ease;
                        will-change: background;
                        content: "";
                        position: absolute;
                        width: 29px;
                        height: 24px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 8px;
                        z-index: -1;
                    }
    
                    &.active,
                    &:hover {
                        &::before {
                        background: $pink;
                        }
                    }
                }
            }

            a {
                color: $white;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }

    &__nav {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        line-height: (21/18);
        font-weight: 400;
        display: none;

        @media (min-width: 1024px) {
            display: flex;
        }

        li { 
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                   color: $pink;
                }
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        position: relative;

        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
}

.hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 1023px) {
        background-image: none !important;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: 0;
        height: 200px;
        background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, $blue 100%);
    }


    .container {
        text-align: center;
    }

    h1 {
        color: $white;
        font-size: 38px;
        font-weight: 500;
        line-height: 45px;
        position: relative;
        z-index: 9;

        @media (min-width: 1024px) {
            bottom: 100px;
        }
    }

    img {
        position: absolute;
        z-index: 0;
        left: 50%;
        transform: translate(-50%, 0);
        top: 100px;
        max-height: 687px;
        @media(min-width: 1024px) {
            top: 185px;
        }
    }

    .hero_link {
        transition: color .3s ease, background-color .3s ease;
        will-change: color, background-color;
        position: absolute;
        left: 49%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        font-weight: bold;
        font-size: 23px;
        font-family: monospace;
        text-decoration: none;
        transform: rotate(90deg);
        position: absolute;
        bottom: 110px;
        z-index: 9;

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
}

.advantages {
    &__nav {
        font-weight: 700;

        @media (min-width: 1024px) {
            width: 40%;
            text-align: right;
        }

        ul {
            position: relative;
            border-right: 4px solid #E6E6F0;
        }

        li {
            font-size: 14px;
            line-height: (17/14);
            letter-spacing: 1px;
            text-transform: uppercase;

            @media (min-width: 1024px) {
                font-size: 42px;
                line-height: (50/42);
                letter-spacing: 0;
                text-transform: capitalize;
            }
        }

        a {
            color: #B3B3BA;
            text-decoration: none;
            padding-right: 40px;
            padding-bottom: 20px;
            border-right: 4px solid transparent;
            margin-right: -4px;
            display: block;

            &.active,
            &:hover {
                color: $pink;
                background: linear-gradient(90deg, #EF8080 40%, #f01454);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-right-color: $pink;
            }
        }
    }

    &__info {
        color: $white;
        
        @media (min-width: 1024px) {
            padding: 40px;
            width: 60%;
        }

        h2 {
            font-size: 22px;
            line-height: (26/22);
            margin-bottom: 15px;

            @media (min-width: 1024px) {
                margin-bottom: 20px;
                font-size: 32px;
                line-height: (38/32);
            }
        }

        p {
            font-size: 18px;
            line-height: (26/18);

            @media (min-width: 1024px) {
                font-size: 21px;
                line-height: (30/21);
            }
        }
    }

    .container {
        @media (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    opacity: .5;
    font-size: 14px;
    line-height: (17/14);
    text-decoration: none;

    &::after {
        content: " \02C3";
        border: 2px solid $white;
        border: none;
    }

    &:hover {
        opacity: 1; 
    }
    
}

.services {
    margin-top: 50px;

    .container {
        padding: 0 20px;
    }

    h1 {
        font-size: 42px;
        color: $pink;
        background: linear-gradient(90deg, #f01454, #EF8080);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 40px;
    }

    .services__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        .services__element {
            margin-bottom: 30px;
            padding: 10px;

            @media (min-width: 768px) {
                width: calc(100% / 2);
            }

            @media (min-width: 1024px) {
                width: calc(100% / 3);
            }
        }

        .services__element__inside {
            display: flex;
            align-items: center;

            @media (min-width: 768px) {
            }

            @media (min-width: 1024px) {
                flex-flow: column wrap;
                align-items: start;
            }
        }

        picture {
            width: 64px;
            height: 64px;
            background-color: $white;
            border-radius: 18px;
            padding: 5px;
            flex: 0 0 auto;

            @media (min-width: 1024px) {
                width: 92px;
                height: 92px;
                border-radius: 24px;
                padding: 10px;
            }
        }

        h3 {
            color: #24A3FF;
            font-size: 18px;
            line-height: (21/18);
            margin-left: 10px;

            @media (min-width: 1024px) {
            font-size: 24px;
            line-height: (28/24);
            padding-top: 15px;
            margin-left: 0;
            }
        }

        p {
            color: $white;
            padding-top: 15px;
            font-size: 18px;
            
            @media (min-width: 1024px) {
                font-size: 16px;
                line-height: (22/16);
            }
        }
    }
}

.team {
    margin: 0 20px 70px 20px;

    .container { 
        min-height: 200px;
        background: #F5F5FA;
        border-radius: 12px;
        padding: 20px 0 20px 21px;

        @media (min-width: 1024px) {
        min-height: 501px;
        margin-bottom: 77px;
        padding: 0;
        }

    .team__link {
        text-transform: uppercase;
        font-weight: bold;
        color: $lightblue;
        font-size: 14px;
        line-height: (17/14);
        text-decoration: none;

        &:hover {
            opacity: .5;
        }
        
        &::after {
        content: " \02C3";
        border: 2px solid $white;
        border: none;
        }
    }

    .team__info {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    
    .sliders {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 1024px) {
            flex-wrap: nowrap;
        }
    }

    h1 {
        font-size: 32px;
        line-height: (38/32);
        font-weight: bold;
        margin-bottom: 10px;
        color: $pink;
        background: linear-gradient(90deg, #f01454, #ef8080);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 1024px) {
        font-size: 42px;
        line-height: (50/42);
        padding-bottom: 20px;
        }
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        order: 2;
        margin-right: 10px;

        @media (min-width: 1024px) {
            min-width: 413px;
            min-height: 500px;
            border-radius: 0;
            order: -1;
            float: left;
            margin-right: 40px;
        }
}
    .team__block {
        @media (min-width: 1024px) {
            margin: 30px 20px 5px 20px;
        }
    }

    .team__sign {
        position: absolute;
        left: 70px;
        
        @media (min-width: 1024px) {
            position: relative;
            left:0;
        }
    }

    p {
        color: #B3B3BA;
        font-size: 18px;
        line-height: (21/18);
        font-weight: 600;
    }

    span {
        font-size: 16px;
        line-height: (22/16);
        color: #B3B3BA;
        order: 5;
        }
    }
}

.slick-next, .slick-arrow {
  visibility: hidden;
}

.cases {
    margin-bottom: 30px;

    &__wrapper {
        background: #F5F5FA;  
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;  
}

    &__row {

        @media (min-width: 1024px) {
            display: flex;
        }
    }

    &__col {
        min-height: 118px;
        padding: 20px;
        border: 1px solid $white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;

        @media (min-width: 1024px) {
            min-height: 198px;
            justify-content: flex-end;
        }
    }

    h3 {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F0145A;
        padding: 0 20px 20px;
        border-bottom: 2px solid $white;
        margin: 0 -20px 20px;
    }

    h4 {
        font-size: 18px;
        line-height: (21/18);
        color: #686887;
        margin-bottom: 20px;

        @media (min-width: 1024px) {
            font-size: 24px;
            line-height: (28/24);
        }
    }

    span {
        font-size: 18px;
        line-height: (26/18);
        color: #B3B3BA;
    }
}

.clients {
    &__wrapper {
    display: flex; 
    flex-wrap: wrap;
    }

    &__items {
        display: flex;
        width: calc(100% / 2);
        height: 120px;
        padding: 10px 20px; 
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) {
            width: calc(100% / 3);
        }

        @media (min-width: 1024px) {
            width: calc(100% / 4);
        }
    }

    h3 {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        text-align: center;
        margin-bottom: 30px;
    }
}

.publications {
    background: #F5F5FA;
    position: relative;
    padding-top: 40px;

    &__link {
    text-transform: uppercase;
    font-weight: bold;
    color: $lightblue;
    font-size: 14px;
    line-height: (17/14);
    text-decoration: none;

    &:hover {
        opacity: .5;
    }

    &::after {
        content: " \02C3";
        border: 2px solid $white;
        border: none;
        }
    }

    h1 {
        color: $pink;
        background: linear-gradient(#ef8080,#f01454);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__col {
        
        @media (min-width: 1024px) {
            width: calc(33.332% - 40px);
            margin: 0 20px 40px;
        }
    }

    &__row {
        position: relative;
        max-height: 800px;
        overflow: hidden;
        padding-top: 20px;

        @media (min-width: 1024px) {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -20px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0%;
            right: 0%;
            bottom: 0;
            height: 300px;
            background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
        }
    }

    &__btn {
        transition: background .3s ease;
        will-change: background;
        position: absolute;
        padding: 16px;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        line-height: (17/14);
        background: $lightblue;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        text-decoration: none;
        min-width: 250px;
        text-align: center;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);

        &:hover {
            background: $white;
            border: 2px solid $lightblue;
            color: $lightblue;
        }
    }

    &__article {
        background: $white;
        overflow: hidden;
        color: #000;
        margin-bottom: 40px;
        border-radius: 8px;    
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        &__content {
            padding: 20px;
            font-size: 16px;
            line-height: (22/16);

        h3 {
            font-size: 18px;
            line-height: (21/18);
            color: #24A3FF;
        }

        time {
            color: #B3B3BA;
            margin: 20px 0;
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: (14/12);
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        p {
            border-top: 4px solid #E6E6F0;
            padding-top: 20px;
        }
    }
        
        img {
            margin-bottom: 20px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.footer {
    background: #F5F5FA;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .container {
        text-align: center;
        

        @media (min-width: 1024px) {
            margin-bottom: 40px;
            padding-top: 0;
        }
    }

    &__information {
        border-top: 4px solid #E6E6F0;
        position: relative;
        text-align: center;
        font-size: 16px;
        line-height: (19/16);

        ul > li {
            margin: 0 0 20px;
        }
        
        
        @media (min-width: 1024px) {
            text-align: left;

            ul {
                display: flex;
                flex-wrap: wrap;
                max-width: 500px; 
                align-items: center;
                padding-top: 23px;
            }

            ul > li {
                margin: 5px 0;
            }

            ul + ul {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        address {
            font-weight: 400;
            font-style: normal;
            padding-top: 23px;

        @media (min-width: 1024px) {
            margin-right: 31px;
            margin-bottom: 0;
            padding-top: 0;
        }

        span {
            font-weight: 700;
            }
        }

        img {
            display: inline-block;
            width: 38px;
            height: 38px;
            align-self: center;

            @media (min-width: 1024px) {
                margin: 0 20px 0 0;
            }
        }

        .mapa {
            font-size: 14px;
            line-height: (16/14);
            color: $lightblue;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;

            &:hover {
                opacity: .5;
            }
        }

        .tel {
            font-weight: bold;
            text-decoration: none;
            color: #46466E;
        }

        .contact {
            font-weight: bold;
            color: $lightblue;
            margin: 20px;
            text-decoration: none;

            @media (min-width: 1024px) {
                margin: 0 20px;
            }
        }

        ul > li:last-child {
            color: #B3B3BA;
        }
    }
}