@import './reset.css';

$pink: #F0145A;
$white: #fff;
$blue: #323264;
$lightblue: #24A3FF;

#wrapper {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: (22/16);
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 1024px) {
        padding: 0;
    }
}

.header {
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 60px;
    
    .block {
        display: flex;
        align-items: flex-start;

    & > img:last-child {
        width: 21px;

        @media (min-width: 1024px) {
            width: 41px;
            }
        }

    & > img:nth-child(2) {
        @media (min-width: 1024px) {
            width: 21px;
        }
    }
    }

    @media (min-width: 1024px) {
        padding-top: 50px;
    } 

    &__logo {
        width: 77px;
        margin-right: 20px;

        @media (min-width: 1024px) {
            width: 155px;
        } 
    }

    span {
        @media (min-width: 1024px) {
            font-size: 38px;
            font-weight: 400;
        }
    }

    &__content {
        
        @media (min-width: 1024px) {
            padding-top: 3px;
        } 
    }

    &__burger {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 20px;
        display: inline-block;
        vertical-align: middle;
        top: 65%;

        &:hover {
            span {
                border-color: $pink;
            }
        }

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            transition: border-color .3s ease;
            will-change: border-color;
            display: block;
            border-bottom: 2px solid $blue;
            margin-bottom: 5px;
            -webkit-transition: border-color .3s ease;
            -moz-transition: border-color .3s ease;
            -ms-transition: border-color .3s ease;
            -o-transition: border-color .3s ease;
}
    }

    &__information {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 16px;
        justify-content: space-between;
        

        @media (min-width: 1024px) {
            justify-content: flex-end;
        }

        address {
            font-style: normal;
            font-weight: 400;
            color: #B3B3BA;
        }

        li {
            margin-left: 0;
            


            @media (min-width: 1024px) {
                margin-left: 10px;
            }

            &:nth-child(2),
            &:last-child {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                    
                }
            }

            > ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin-right: 10px;
                    &:nth-child(2),
                    &:last-child {
                    display: block;
                    }

                    @media (min-width: 1024px) {
                        margin-right: 0;
                    }
                }
    
                a {
                    font-size: 12px;
                    line-height: (14/12);
                    text-transform: uppercase;
                    position: relative;
                    z-index: 9;
                    color: #B3B3BA;

                    &:hover {
                        color: white;
                    }
    
                    &::before {
                        transition: background .3s ease;
                        will-change: background;
                        content: "";
                        position: absolute;
                        width: 29px;
                        height: 24px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 8px;
                        z-index: -1;
                    }
    
                    &.active,
                    &:hover {
                        &::before {
                        background: $pink;
                        }
                    }
                }
            }

            a {
                color: #B3B3BA;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }

    &__nav {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        line-height: (21/18);
        font-weight: 400;
        display: none;
        

        @media (min-width: 1024px) {
            display: flex;
        }

        li {    
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;

            a {
                color:$lightblue;
                text-decoration: none;

                &:hover {
                   color: $pink;
                   text-decoration: underline;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        position: relative;

        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
}

.publications {
    background: #F5F5FA;
    position: relative;
    padding-top: 40px;
    border-radius: 12px 12px 0 0;

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 40px;
        background: #E6E6F0;
        border-radius: 12px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
}

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 127px;
        height: 36px;
        background: $white;
        font-size: 18px;
        line-height: (21/18);
        text-align: center;
        color: $blue;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &:last-child {
            background: #E6E6F0;
        }
}

    &__grid {
        position: relative;
        overflow: hidden;
        padding-top: 20px;

        @media (min-width: 1024px) {
            max-height: 2000px;
            padding-top: 40px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2vw;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0%;
            right: 0%;
            bottom: 0;
            height: 300px;
            background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
        }
    }

    &__btn {
        transition: background .3s ease;
        will-change: background;
        position: absolute;
        padding: 16px;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        line-height: (17/14);
        background: $lightblue;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        text-decoration: none;
        min-width: 250px;
        text-align: center;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);

        &:hover {
            background: $white;
            border: 2px solid $lightblue;
            color: $lightblue;
        }
    }

    &__article {
        background: $white;
        overflow: hidden;
        color: #000;
        margin-bottom: 20px;
        border-radius: 8px;    
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }

        &__content {
            padding: 20px;
            font-size: 16px;
            line-height: (22/16);

        h3 {
            font-size: 18px;
            line-height: (21/18);
            color: #24A3FF;
        }

        time {
            color: #B3B3BA;
            margin: 20px 0;
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: (14/12);
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        p {
            border-top: 4px solid #E6E6F0;
            padding-top: 20px;
        }
    }
        
        img {
            margin-bottom: 20px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.footer {
    background: #F5F5FA;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .container {
        text-align: center;
        

        @media (min-width: 1024px) {
            margin-bottom: 40px;
            padding-top: 0;
        }
    }

    &__information {
        border-top: 4px solid #E6E6F0;
        position: relative;
        text-align: center;
        font-size: 16px;
        line-height: (19/16);

        ul > li {
            margin: 0 0 20px;
        }
        
        
        @media (min-width: 1024px) {
            text-align: left;

            ul {
                display: flex;
                flex-wrap: wrap;
                max-width: 500px; 
                align-items: center;
                padding-top: 23px;
            }

            ul > li {
                margin: 5px 0;
            }

            ul + ul {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        address {
            font-weight: 400;
            font-style: normal;
            padding-top: 23px;

        @media (min-width: 1024px) {
            margin-right: 31px;
            margin-bottom: 0;
            padding-top: 0;
        }

        span {
            font-weight: 700;
            }
        }

        img {
            display: inline-block;
            width: 38px;
            height: 38px;
            align-self: center;

            @media (min-width: 1024px) {
                margin: 0 20px 0 0;
            }
        }

        .mapa {
            font-size: 14px;
            line-height: (16/14);
            color: $lightblue;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;

            &:hover {
                opacity: .5;
            }
        }

        .tel {
            font-weight: bold;
            text-decoration: none;
            color: #46466E;
        }

        .contact {
            font-weight: bold;
            color: $lightblue;
            margin: 20px;
            text-decoration: none;

            @media (min-width: 1024px) {
                margin: 0 20px;
            }
        }

        ul > li:last-child {
            color: #B3B3BA;
        }
    }
}