body {
    background: cornsilk;
    font-family: 'Barlow', sans-serif; 
}

#wrapper {
    position: relative;
    overflow-x: hidden;
}

.header {
    padding: 10px;
    background:lightsalmon;
    background-image: url("./images/flower.png");
    background-blend-mode: lighten;
    opacity: .8;
}

.section {
    font-weight: 600;
    font-style: italic;
    border: 1px solid coral;
    padding: 10px 20px;
    margin: 20px;
}

.section__heading {
    font-style: normal;
    color:coral;
}

.aside_top {
    margin: 20px;
}

.aside_left {
    margin: 20px;
    font-family: Pacifico, cursive;
    font-size: 18px;
    text-align: center;
}

.footer {
    color: lightslategray;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
}



